.nav-bar {
  padding: 5px 10px;
  background-color: #dff6ff;
  .logo {
    width: 100px;
    img {
      width: 100%;
    }
  }
  .search-box {
    input {
      border-radius: 30px;
      width: 300px;
      border: 1px solid #f2f2f2;
      padding: 8px 16px;
    }
  }
  .user {
    a {
      width: 30px;
      height: 30px;
      background-color: #f2f2f2;
      border-radius: 50px;
      font-size: 14px;
    }
    img {
      width: 22px;
    }
    p {
      font-size: 12px;
      margin-left: 6px;
    }
  }
}
