.page-info {
  padding: 30px;
  width: 100%;
  .custom-row {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 24px;
    .card {
      border: 1px solid #f2f2f2;
      padding: 16px;
      box-shadow: 0 0 20px rgba(0 0 0 / 16%);
      border-radius: 16px;
      h6 {
        font-size: 12px;
        font-weight: 400;
      }
      h4 {
        font-size: 22px;
      }
      p {
        margin-bottom: 16px;
        width: 70%;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
      }
      a {
        background-color: #f79522;
        color: #ffffff;
        text-align: center;
        min-width: 100px;
        padding: 6px 12px;
        display: inline-block;
        border-radius: 4px;
        text-decoration: none;
      }
    }
  }
}
