.side-nav {
  width: 150px;
  min-height: calc(100vh - 46px);
  background-color: #f1fbff;
  position: relative;
  transition: all 0.5s ease-in-out;
  ul {
    transition: all 2s ease-in;
  }
  & li a {
    color: #212121;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    width: 100%;
  }
  &.side-bar {
    margin-left: 0;
    width: 0;
    transition: all 0.5s ease-in-out;
    & ul {
      display: none;
      transition: all 2s ease-in;
    }
  }
  .side-nav-btn {
    position: absolute;
    bottom: 10px;
    right: -20px;
    width: 20px;
    height: 20px;
    background-color: #f79522;
    border: 1px solid #f79522;
    color: #ffffff;
    border-radius: 0 4px 4px 0;
  }
}
