* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
/*********Common CSS **********/
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
button {
  cursor: pointer;
}
.btn-primary {
  background-color: #f79522;
  border: 1px solid #f79522;
  color: #ffffff;
  text-align: center;
  min-width: 100px;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}
.mt-30 {
  margin-top: 30px;
}
.hide {
  display: none;
}
